extends layout.pug

mixin askContent(name, headline, photoSrc, description)
	div.ask
		img(src = photoSrc)
		div.ask-text
			h3=name
			h4=headline
			p=description

block title
	title Promt

block content
	div#main
		div#banner
			h1 Code2040 Holiday Mixer
			h2 Where the ice gets thinner
		div#content
			div#ask-socket-notify
			div#ask-container
				each ask in asks
					+askContent(ask.author.name, ask.author.linkedin_headline, ask.author.linkedin_profile_pic_url, ask.content)



